.loginbody05 {
  margin: 0;
  font-family: 'Asap', sans-serif;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 91, 105);
}    

.login-wrapper05 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 99vh;
}

.login-container05 {
  background-color: white;
  padding: 0px 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  position: relative;
  width: 400px;
  height: 250px;
}

.login05 {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  top: 20%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -26%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2); 
  
  display: flex;
  place-items: center;
  position: relative;
}

.login05::before,
.login05::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 800px;
  border-top-left-radius: 90%;
  border-top-right-radius: 55%;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.login05::before {
  left: 40%;
  bottom: -90%;
  background-color: rgba(69, 105, 144, 0.15);
  animation: wawes05 6s infinite linear;
}

.login05::after {
  left: 55%;
  bottom: -125%;
  background-color: rgba(2, 128, 144, 0.2);
  animation: wawes05 7s infinite;
}

.login05 > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: none;
  padding: 10px;
  margin: 15px 0;
  box-shadow: 8px 5px 10px rgba(2, 128, 144, 0.2);
}

#loginbut05 {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: none;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: rgb(244, 91, 105);
  transition: background-color 300ms;
}

.login05 > button:hover {
  background-color: rgb(220, 82, 95);
}

@keyframes wawes05 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

a.toggle-link05 {
  text-decoration: none;
  color: rgba(2, 128, 144, 2);
  font-size: 14px;
  text-decoration: underline;
}

a.toggle-link05:hover {
  color: rgb(220, 82, 95);
}

.login-title05, .login05 button {
  text-align: center;
}

.login-toggle-link05{
  cursor: pointer;
  color: rgb(220, 82, 95);
}
.login-toggle-link05:hover{
  cursor: pointer;
  color: rgb(220, 82, 95);
}
.register-option05:hover{
  cursor: pointer;
  color: rgb(220, 82, 95);
}
.register-option05{
  position: relative;
  bottom: 35px;
}